@model IEnumerable<FamilyBudgetSystem.Core.Models.Income>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncomeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncomeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncomeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IncomeID })
        </td>
    </tr>
}

</table>
