@model IEnumerable<FamilyBudgetSystem.Core.Models.Expense>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
        @Html.ActionLink("Добави разход", "Create", "Expenses", null, new { @class = "btn btn-danger" })
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ExpenseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID })
            </td>
        </tr>
    }

</table>
